.body-cont.taglist .col-tag h3 { margin-top: 0; }

.body-cont.taglist .box { margin-top: 60px; }

.body-cont.taglist .list.type1 .title { width: 500px; }

.body-cont.taglist .list.type1 .user { width: 100px; }

.body-cont.taglist .list.type1 .time { width: 120px; }

.body-cont.taglist .list.type1 .views { width: 60px; }
